<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Janice Uwujaren - Front-end Web Developer">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="New2Neat Cleaning Service for individuals and Business....">
    <meta name="keywords" content="New2Neat, cleaning, service, ......">
    <title>@ViewData["Title"] - New2Neat</title>
    @Html.Partial("_StylesPartial")
</head>
<body>
    <header class="alt-header">
        @Html.Partial("_NavPartial")
    </header>
    <div class="grid-container body-content">
        @RenderBody()
        @Html.Partial("_FooterPartial")
    </div>
    @Html.Partial("_ScriptsPartial")
    @RenderSection("Scripts", required: false)
</body>
</html>
