<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - New2Neat</title>
    @Html.Partial("_StylesPartial")
</head>
<body>
    <div class="container-fluid">
        <header class="alt-header">
            <div class="row header-contact-row">
                <div class="phone-email pull-left col-md-8">
                    <h4>Phone: 770-286-1655 | Email: new2neat@gmail.com</h4>
                </div>
                <div class="bbb-logo pull-left text-right col-md-1">
                    <span>
                        <img src="~/images/bbblogo.png" alt="BBB accredited rating" />
                    </span>
                </div>
                <div class="ncoc-logo pull-left text-right col-md-2">
                    <span>
                        <img src="~/images/NewtonCOCLogo.png" alt="Newton County Chamber of Commerge logo" />
                    </span>
                </div>
                <div class="social-media-icons pull-left text-right col-md-1">
                    <span>
                        <a href="https://www.facebook.com/New2Neat/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="https://plus.google.com/+ANewtoNeatCleaningCompanyCovington" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                    </span>
                </div>
            </div>
            <div class="row header-brand-row">
                <div class="menu-widget menu-widget-default menu-widget-light menu-widget-fade">
                    <!-- RESPONSIVE TOGGLE MENU START -->
                    <input type="checkbox" id="toggle-three" name="toggle3" class="menu-widget-togglei">
                    <label for="toggle-three" class="menu-widget-togglel"><span class="menu-widget-logo"><i class="icon-power2"></i>Insidelab</span><i class="icon-menu7"></i></label>
                    <!-- RESPONSIVE TOGGLE MENU END -->
                    <div class="menu-widget-wrapper">
                        <div class="menu-widget-item menu-widget-left shine">
                            <a href="/" class="menu-widget-logo"><i class="icon-broom"></i>New<span>2</span>Neat</a>
                        </div>
                    </div>
                </div>
            </div>

        </header>
    </div>
    <div class="container-fluid body-content">
        @RenderBody()
        @Html.Partial("_FooterPartial")
    </div>
    @Html.Partial("_ScriptsPartial")
    @RenderSection("Scripts", required: false)
</body>
</html>
