<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - New2Neat</title>
    @Html.Partial("_StylesPartial")
</head>
<body>
    <div class="container-fluid">
        <header class="main-header">
            <div class="header-contact">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-9">
                            <a href=""><i class="icon icomoon-envelop"></i> Email: new2neat@gmail.com</a> <span class="separator">|</span>
                            <a href=""><i class="icon icomoon-phone2"></i> Call: (770) 286-1655</a>
                        </div>
                        <div class="col-md-3 text-right">
                            <div class="social-media-icons">
                                <a href="https://www.facebook.com/New2Neat/" target="_blank"><i class="icomoon-facebook"></i></a>
                                <a href="https://plus.google.com/+ANewtoNeatCleaningCompanyCovington" target="_blank"><i class="icomoon-google-plus"></i></a>
                                <a href=""><i class="icomoon-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row header-brand-row">
                <div class="menu-widget menu-widget-default menu-widget-light menu-widget-fade">
                    <!-- RESPONSIVE TOGGLE MENU START -->
                    <input type="checkbox" id="toggle-three" name="toggle3" class="menu-widget-togglei">
                    <label for="toggle-three" class="menu-widget-togglel"><span class="menu-widget-logo"><i class="icon-power2"></i>Insidelab</span><i class="icon-menu7"></i></label>
                    <!-- RESPONSIVE TOGGLE MENU END -->
                    <div class="menu-widget-wrapper">
                        <div class="menu-widget-item menu-widget-left shine">
                            <a href="/" class="menu-widget-logo"><i class="icon-broom"></i>New<span>2</span>Neat</a>
                        </div>
                        <div class="menu-widget-item">
                            <a href="#about"><i class="icon-user"></i>About</a>
                        </div>
                        <div class="menu-widget-item">
                            <a href="#services"><i class="icon-office"></i>Services</a>
                        </div>
                        <div class="menu-widget-item">
                            <a href="#testimonials"><i class="icon-bubble-dots4"></i>Testimonials</a>
                        </div>
                        <div class="menu-widget-item">
                            <a href="#ratings"><i class="icon-stars"></i>Ratings</a>
                        </div>
                        <div class="menu-widget-item">
                            <a href="/contact"><i class="icon-phone"></i>Contact</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row header-text">
                <div class="col-md-12 text-center">
                    <h2>For big messes to little messes and all the messes in between...</h2>
                    <p>Who you gonna call? New2Neat of course! We are equipped and professionally trained to handle any cleaning job big or small. Put us to work today!</p>
                    <a href="/Contact" class="header-btn">Request A Quote</a>
                </div>
            </div>
        </header>
    </div>
    <div class="container-fluid body-content">
        @RenderBody()
    @Html.Partial("_FooterPartial")
    </div>
    @Html.Partial("_ScriptsPartial")
    @RenderSection("Scripts", required: false)
</body>
</html>
