<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Janice Uwujaren - Front-end Web Developer">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="New2Neat Cleaning Service for individuals and Business....">
    <meta name="keywords" content="New2Neat, cleaning, service, ......">
    <title>@ViewData["Title"] - New2Neat</title>
    @Html.Partial("_StylesPartial")
</head>
<body>
    <header class="main-header">
        @Html.Partial("_NavPartial")
        <div class="row header-text">
            <div class="grid-item item-md-12 text-center">
                <h1>From big messes to little messes and all messes in between...</h1>
                <p class="main-tagline">Don't make an even bigger mess by calling the wrong cleaning service.</p>
                <p class="tagline">Call New2Neat today! We are kicking buckets and cleaning drains everyday!</p>
                <a href="/contact" class="header-btn">Request A Quote</a>
            </div>
        </div>
    </header>
    <div class="grid-container body-content">
        @RenderBody()
    @Html.Partial("_FooterPartial")
    </div>
    @Html.Partial("_ScriptsPartial")
    @RenderSection("Scripts", required: false)
</body>
</html>
